flask==1.1.2
flask-executor==0.9.4
flask-sqlalchemy==2.4.4
psycopg2==2.8.6
flask-migrate==2.7.0
slackclient==2.9.3
slackeventsapi==2.2.1
requests==2.25.1
beautifulsoup4==4.9.3
gunicorn==20.0.4
htcondor==8.9.10
